TELEGRAM_BOT_ACCESS_KEY=telegram-bot-token
TELEGRAM_OWNER_CHAT_ID=your-telegram-user-id
JIRA_EMAIL=your-jira-email@example.com
JIRA_API_TOKEN=your-jira-token
JIRA_BASE_URL=https://workaxle.atlassian.net

OUTLOOK_CALENDAR_ICS_URL=your-published-outlook-calendar-ics-url
# CALENDAR_TZ_OFFSET_HOURS=3

DATABASE_URL=postgresql://postgres:postgres@db/database_name
PGUSER=postgres
PGPASSWORD=postgres
DATABASE_LOGGING_ENABLED=true
APP_PORT=3000

HEALTH_CHECK_URL=https://example.com/health
